[main]
gtk-theme=Yaru-purple-dark
style={{ .chezmoi.homeDir }}/.config/gtklock/style.css
background={{ .chezmoi.homeDir }}/.local/state/tokyo-night/wallpaper.png
time-format=%A · %H:%M
idle-hide=false
