{{- $gitName := promptStringOnce . "gitName" "Git name" -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "Git email" -}}
{{- $profiles := list "portable" -}}
{{- if eq .chezmoi.os "linux" -}}
{{-   $profiles = list "portable" "amice-workstation" -}}
{{- end -}}
{{- $desktopProfile := promptChoiceOnce . "desktopProfile" "Desktop profile" $profiles "portable" -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}
umask = 0o022

[data]
    gitName = {{ $gitName | quote }}
    gitEmail = {{ $gitEmail | quote }}
    desktopProfile = {{ $desktopProfile | quote }}
