[".tmux/plugins/tmux-resurrect"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-resurrect/archive/cff343cf9e81983d3da0c8562b01616f12e8d548.tar.gz"
    stripComponents = 1
    checksum.sha256 = "9f1dda18554291ee7f8a0f499e2af90bbadc2ebceb7a995bb13b76529fe0c5c9"

[".tmux/plugins/tmux-continuum"]
    type = "archive"
    url = "https://github.com/tmux-plugins/tmux-continuum/archive/0698e8f4b17d6454c71bf5212895ec055c578da0.tar.gz"
    stripComponents = 1
    checksum.sha256 = "a1b9a2f0715163472ca713679204a1ca55d3f845cf1c659ae04222db3553424f"

[".local/share/tokyo-night/wallpapers"]
    type = "archive"
    url = "https://github.com/AlexandreAmice/dotfiles-assets/releases/download/wallpapers-v1/tokyo-night-wallpapers-v1.tar.gz"
    stripComponents = 1
    exact = true
    checksum.sha256 = "266d37158697358a171c66e68e484440348a45800e9b531848da8b11c485b020"

{{ if eq .chezmoi.os "linux" -}}
[".local/share/fonts/JetBrainsMonoNerd-3.5.1"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.5.1/JetBrainsMono.tar.xz"
    checksum.sha256 = "04d5e8f903693f9dd13e16f867e994834e681eb3c72c0d337a770dcda09010cf"

{{ if eq .chezmoi.arch "amd64" -}}
[".local/opt/starship-1.26.0"]
    type = "archive"
    url = "https://github.com/starship/starship/releases/download/v1.26.0/starship-x86_64-unknown-linux-musl.tar.gz"
    checksum.sha256 = "b7c232b0e8249d8e55a40beb79c5c43a7d370f3f9408bd215deb0170daeaadf3"

[".local/opt/atuin-18.18.1"]
    type = "archive"
    url = "https://github.com/atuinsh/atuin/releases/download/v18.18.1/atuin-x86_64-unknown-linux-gnu.tar.gz"
    stripComponents = 1
    checksum.sha256 = "1b142300a474936c4a5c10b45e682230c40c060a025b7ea53dfa6289b28d8441"

[".local/opt/neovim-0.12.5"]
    type = "archive"
    url = "https://github.com/neovim/neovim/releases/download/v0.12.5/nvim-linux-x86_64.tar.gz"
    stripComponents = 1
    checksum.sha256 = "bce0f56eda1f1b1db6eee8f4133d7a38813ea07933837dd1777411ca384c6875"

[".local/opt/tree-sitter-cli-0.27.0"]
    type = "archive"
    url = "https://github.com/tree-sitter/tree-sitter/releases/download/v0.27.0/tree-sitter-cli-linux-x64.zip"
    checksum.sha256 = "e4a3826bcd0fe099ee3a5617767374939cbc23c4a35b5b53f5fc04142525a2c1"

[".local/opt/herdr-0.9.1/herdr"]
    type = "file"
    url = "https://github.com/herdrdev/herdr/releases/download/v0.9.1/herdr-linux-x86_64"
    executable = true
    checksum.sha256 = "2a02fed16beb651ef006e1d43f048f652ca4dc58ad053cd2d44450563d5c54b7"
{{ else if eq .chezmoi.arch "arm64" -}}
[".local/opt/starship-1.26.0"]
    type = "archive"
    url = "https://github.com/starship/starship/releases/download/v1.26.0/starship-aarch64-unknown-linux-musl.tar.gz"
    checksum.sha256 = "dc30189378d2f2e287384e8a692d3f95ad1df64cf0e8c36aa9201516028aed6b"

[".local/opt/atuin-18.18.1"]
    type = "archive"
    url = "https://github.com/atuinsh/atuin/releases/download/v18.18.1/atuin-aarch64-unknown-linux-gnu.tar.gz"
    stripComponents = 1
    checksum.sha256 = "44ecf39067090c31041ffb02d8bdfe161ecd2e5e83b1e1e0698a78a6b14d2cd4"

[".local/opt/neovim-0.12.5"]
    type = "archive"
    url = "https://github.com/neovim/neovim/releases/download/v0.12.5/nvim-linux-arm64.tar.gz"
    stripComponents = 1
    checksum.sha256 = "1aa5ca085249580ae0f91eb14f27ec0919773ff2d99a163d03f3d6c21ac29725"

[".local/opt/tree-sitter-cli-0.27.0"]
    type = "archive"
    url = "https://github.com/tree-sitter/tree-sitter/releases/download/v0.27.0/tree-sitter-cli-linux-arm64.zip"
    checksum.sha256 = "6260b621bf5ab87027dfb463bf955504ef32cdcda62b81f28447753e48c83a62"

[".local/opt/herdr-0.9.1/herdr"]
    type = "file"
    url = "https://github.com/herdrdev/herdr/releases/download/v0.9.1/herdr-linux-aarch64"
    executable = true
    checksum.sha256 = "f4ccf4de745f2cb9a39a983e9ba3703dad50ec2a58dea83026ceab721bbd8d9e"
{{ end -}}
{{ end -}}
