{{- if eq .chezmoi.os "linux" }}
.config/kanshi
.config/systemd/user/sway-kanshi.service
.config/systemd/user/sway-rfkill.service
.config/sway/scripts/apply-outputs
{{-   if .isAmiceWorkstation }}
.config/sway/scripts/start-session-apps
.config/sway/scripts/start-messaging
.config/sway/scripts/arrange-code-windows
.config/sway/scripts/start-work-session
.config/terminator/config
{{-   end }}
{{- end }}
.local/bin/desktop-temperature
.vscode/extensions/amice.send-editor-to-sway-workspace-0.1.0
