[Unit]
Description=Signal for the personal Sway session
PartOf=sway-session.target
After=sway-session.target gnome-keyring-daemon.service

[Service]
Type=simple
ExecStart=/opt/Signal/signal-desktop --password-store=gnome-libsecret
Restart=on-failure
RestartSec=5
