[Unit]
Description=Services belonging to the active Sway session
Wants=sway-waybar.service sway-swaync.service sway-idle.service
Wants=sway-nm-applet.service sway-polkit-agent.service
Wants=sway-blueman-applet.service sway-slack.service
Wants=sway-datetime.service sway-geoclue-agent.service sway-display-layouts.service
Wants=sway-timezone-refresh.path
{{ if eq .chezmoi.arch "amd64" -}}
Wants=sway-signal.service
{{ end -}}
